/* to remove the transition that applies on refresh */
.preload * {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
}

body {
    background-color: gray;
    color: white;
}


.container h2 {
    font-size: 3vw;
}
/* Header start */

header {
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 30px;
}

header ul {
    list-style: none;
    display: flex;
}

header li {
    margin: 0px 30px;
}

#resumeAnchor, #githubAnchor {
    text-decoration: none;
    border: none;
    color: white;
    font-size: 20px;
    background-color: transparent;
}
/* Header end */

/* jumbotron */

#jumbotron {
    background-color: white;
    padding: 210px;
    color: teal;
}

/* Work */

#work h2 {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
    margin: 50px 125px;
}

#work ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

#work li {
    margin: 0px 110px 0px 0px;
}

#work li button {
    color: #14647d;
    background: transparent;
    border: none;
    text-decoration: underline;
}

#work li button:hover {
    cursor: pointer;
}

#work img {
    opacity: 1;
    border-radius: 30px;
}

#work img:hover {
    opacity: .6;
    transition: opacity .3s;
}
/* work end */

/* modal */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    color: black;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/* modal end */

/* Footer */
#footer {

}

#footer h2 {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
    margin: 50px 125px;
}

#footer p {
    font-size: 20px;
    display: flex;
    justify-content: center;
}
/* Footer end */

/* media queries */

@media only screen and (min-width: 1024px) {
    
}
/* media queries end */